h1{
    font-size: 35px;
}
h2{
    background-color: rgb(172, 195, 240);
}
.pokedex{
    line-height: 70px;
}
@media (min-width: 600px) {
    .I, .II, .III, .IV, .V, .VI, .VII, .VIII, .IX {
      width: 50%;
    }
  }