h1{
    font-size: 35px;
}
h2{
    background-color: rgb(172, 195, 240);
}
.pokedex{
    line-height: 70px;
}
@media screen and (min-width:768px){   
    .I, .II, .III, .IV, .V, .VI, .VII, .VIII, .IX{
        width:50%;
        heigh:auto;
        margin: 0 auto;
    }
}

@media screen and (min-width:481px) and (max-width:768px){
    .I, .II, .III, .IV, .V, .VI, .VII, .VIII, .IX{
        width: 30%;
        heigh:auto;
        margin: 0 auto;
}
@media screen (min-width:0px) and (max-width:480px){
    .I, .II, .III, .IV, .V, .VI, .VII, .VIII, .IX{
        width: 10%;
        heigh:auto;
        margin: 0 auto;
}
